html {
    background-color: #242424;
}

h1 {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    color: white;
}

h2, p, ul, ol {
    font-family: 'Courier New', Courier, monospace;
    color: white;
}

a {
    font-family: 'Courier New', Courier, monospace;
    color: rgb(255, 255, 255);
    font-size: large;
    text-decoration:none; 
    font-weight: 700;
    text-align: center;

    display: block;
    margin: 2em;
}

img {
   width: 40em;
   margin-left: 38em;
   border-style: solid;
   border-color: white;
   border-radius: 15px;
}

div {
    margin: 0px;
    padding-top: 1em;
    padding-bottom: 1em;
}